<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="WidgetsGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Epartment\Widgets\Model\ResourceModel\Widget\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">WidgetsGridFilterPool</argument>
        </arguments>
    </virtualType>
    <virtualType name="WidgetsGridFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="epa_widgets_widget_data_source" xsi:type="string">Epartment\Widgets\Model\ResourceModel\Widget\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Epartment\Widgets\Model\ResourceModel\Widget\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">epartment_widgets</argument>
            <argument name="resourceModel" xsi:type="string">Epartment\Widgets\Model\ResourceModel\Widget</argument>
        </arguments>
    </virtualType>
    <type name="Epartment\Widgets\Model\Widget\FileProcessor">
        <arguments>
            <argument name="baseTmpPath" xsi:type="string">epa_widgets/tmp</argument>
            <argument name="basePath" xsi:type="string">epa_widgets</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="gif" xsi:type="string">gif</item>
                <item name="png" xsi:type="string">png</item>
            </argument>
        </arguments>
    </type>
</config>