<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="epa_widgets_widget_data_source" xsi:type="string">EpartmentWidgetsWidgetGridCollection</item>
            </argument>
        </arguments>
    </type>

    <type name="Epartment\Widgets\Model\ResourceModel\Widget\Collection">
        <arguments>
            <argument name="model" xsi:type="string">Epartment\Widgets\Model\Widget</argument>
            <argument name="resourceModel" xsi:type="string">Epartment\Widgets\Model\ResourceModel\Widget</argument>
        </arguments>
    </type>

    <virtualType name="EpartmentWidgetsWidgetGridCollection" type="Epartment\Widgets\Model\ResourceModel\Widget\Collection">
        <arguments>
            <argument name="model" xsi:type="string">Magento\Framework\View\Element\UiComponent\DataProvider\Document</argument>
            <argument name="resourceModel" xsi:type="string">Epartment\Widgets\Model\ResourceModel\Widget</argument>
        </arguments>
    </virtualType>

    <type name="Epartment\Widgets\Model\Widget\FileProcessor">
        <arguments>
            <argument name="baseTmpPath" xsi:type="string">epa_widgets/tmp</argument>
            <argument name="basePath" xsi:type="string">epa_widgets</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="gif" xsi:type="string">gif</item>
                <item name="png" xsi:type="string">png</item>
            </argument>
        </arguments>
    </type>
</config>